/* border-radius, keyframes, animation, nth-child, flex, position */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
}
.container {
  display: flex;
}

.square {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 40px;
}
.square span {
  position: absolute;
  width: inherit;
  height: inherit;
  border: 1px solid #fff;
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%; /* border-radius의 중첩 */
  animation: circle linear infinite; /* transtition은 hover됐을 때 배경컬러때문에 준 것이다. */
}
.square:nth-child(1):hover span {
  background-color: crimson;
  border: none;
}
.square:nth-child(2):hover span {
  background-color: dodgerblue;
  border: none;
}
.square:nth-child(3):hover span {
  background-color: yellowgreen;
  border: none;
}
.square span:nth-child(1) {
  animation-duration: 6s;
}
.square span:nth-child(2) {
  animation-duration: 4s;
  animation-direction: reverse;
}
.square span:nth-child(3) {
  animation-duration: 10s;
}
.square:hover span:nth-child(1) {
  opacity: 0.3;
}
.square:hover span:nth-child(2) {
  opacity: 0.6;
}
.square:hover span:nth-child(3) {
  opacity: 0.8;
}

.square div {
  position: absolute;
  /* border: 1px solid red; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
  color: #fff;
}
.square div a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
  padding: 10px;
  display: inline-block; /* 인라인 요소는 좌우 margin/padding만 가질 수 있다. */
  margin-top: 15px;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
