/* hover, position, opacity, transform */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.app-ui {
  /* border: 1px solid red; */
  background-color: #eee;
  width: 340px;
  height: 640px;
  transform: rotate(-30deg) skewX(20deg) scale(0.7);
  position: relative;
  box-shadow: 0 0 30px #00000062;
  transition: 0.5s;
}
.app-ui img {
  position: absolute;
  transition: 0.5s;
}
.app-ui:hover {
  box-shadow: -50px 100px 20px #00000039;
}
.app-ui:hover img:nth-child(1) {
  transform: translate(40px, -40px);
}
.app-ui:hover img:nth-child(2) {
  transform: translate(80px, -80px);
}
.app-ui:hover img:nth-child(3) {
  transform: translate(120px, -120px);
}
.app-ui:hover img:nth-child(4) {
  transform: translate(160px, -160px);
}
